:host {
    display: flex;
    max-width: 100%;
}

.controls {
    display: flex;
    flex-direction: column;

    .mat-form-field {
        width: 100%;
    }

    .mat-raised-button {
        margin-bottom: 16px;
    }
}

.result {
    flex: 1;
    overflow: hidden;
    ::ng-deep .ngx-json-viewer {
        overflow-y: auto;
    }
}