<div [formGroup]="form" class="controls">
    <mat-form-field>
        <input matInput formControlName="albumId" placeholder="Album ID">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="url" placeholder="URL">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="thumbnailUrl" placeholder="Thumbnail url">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createPhoto()">Create photo</button>
</div>
<ngx-json-viewer class="result" [json]="result"></ngx-json-viewer>